body {
    background-color: black;
    color: beige;
    padding: 0;
    margin: 0;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding: 2%;
    
}

.songnumber-info-points-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

#song-number {
    background-color: beige;
    width: 15vw;
    height: 12vh;
    border-radius: 0.5em;
    border: 0.1em solid beige;
    color: black
    
    
}


.click-info-box {
    width: 40vw;
    height: 12vh;
    border-radius: 0.5em;
    border: 0.1em solid rgb(43, 131, 15);
    background-color: black;
    color: beige;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
}

#text-click-button {
    padding: 3%;
    
}

#player-points {
    background-color: beige;
    width: 15vw;
    height: 12vh;
    border-radius: 0.5em;
    border: 0.1em solid beige;
    color: black
}

.song-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: -6%;
    padding: 3%;
}


.spotify-button {
    background-color: transparent;
    width: 20%;
    border-color: beige;
    border-style: inherit;

}

#player-button {
    display: flexbox;
    width: 50%;
    font
}

#player-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.song-info-box {
    border-color: beige;
    border: 1em;
    width: 50vw;
    height: 15vh;
    font-size: x-large;
    background-color: beige;
    color: black;
    border-radius: 0.5em;
    padding-left: 2vw;
   
    
}

.answer-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    height: 15vh;
    width: 100vw;
}


.answer-button {
    width: 15vw;
    border-radius: 0.5em;
    border: 0.1em solid beige;
    background-color: black;
    color: antiquewhite;
    font-size: medium;
}


.answer-button:hover {
    cursor: pointer;
    border-color: rgb(106, 106, 116);
}